<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Book Reissuer</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="icon" href="../static/books.png" type="image/x-icon">

<body style="background-color: #ebeced;">
    <!-- As a link -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../static/books.png" alt="Bootstrap" width="30" height="24">
                Auto Book Reissuer
            </a>
            <a href="https://github.com/sahilkamate03/auto_book_reissuer">
                <button class="btn btn-primary">
                    <i class="fab fa-github"></i>
                    Source Code
                </button>
            </a>
        </div>
    </nav>

    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            The best solution to<br />
                            <span class="text-primary">Automate Book Reissue</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            The project aims to automate the book Reissue process for the students of the AIT.
                            Simply enter the credentials of this <a href="http://14.139.108.229/w27/">site.</a> The
                            credetials will be
                            verified and the books will be reissued automatically. You can enable/disable email
                            Notifications to
                            recieve updates
                            regarding book reissue.
                        </p>
                        <p>Note: In order to update your information, kindly fill the form once more.</p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">

                            <div class="card-body py-5 px-md-5 ">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert alert-{{category}}  mx-auto " role="alert">
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <form method="post" action="/register" class="register-form">
                                    {{ form.hidden_tag() }}

                                    <!-- 2 column grid layout with text inputs for the first and last names -->

                                    <div class="form-outline mb-4">
                                        <div class="form-outline">
                                            {{ form.name.label(class="form-label") }}
                                            {{ form.name(class="form-control") }}

                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        {{ form.email.label(class="form-label") }}
                                        {{ form.email(class="form-control") }}
                                    </div>

                                    <!-- user id input -->
                                    <div class="form-outline mb-4">
                                        {{ form.user_id.label(class="form-label") }}
                                        {{ form.user_id(class="form-control") }}
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        {{ form.password.label(class="form-label") }}
                                        {{ form.password(class="form-control") }}
                                    </div>

                                    <!-- Checkbox -->
                                    <div class="form-check d-flex justify-content-center mb-4">
                                        {{ form.send_notifications(class="form-check-input me-2", type="checkbox",
                                        checked=True) }}
                                        {{ form.send_notifications.label(class="form-check-label") }}
                                    </div>

                                    <!-- Submit button -->

                                    <div id="register-div">

                                        {{ form.submit(class="btn btn-primary btn-block mb-4", id="register-button",
                                        data_bs_loading_text="Submitting...",
                                        data_bs_spinner="false") }}
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->


    <footer class="text-center bg-body-tertiary">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">

                <!-- Github -->
                <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                    href="https://github.com/sahilkamate03" role="button" data-mdb-ripple-color="dark"><i
                        class="fab fa-github"></i></a>

                <!-- Linkedin -->
                <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                    href="https://www.linkedin.com/in/sahilkamate03/" role="button" data-mdb-ripple-color="dark"><i
                        class="fab fa-linkedin"></i></a>

                <!-- Instagram -->
                <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                    href="https://www.instagram.com/sahilkamate_03/" role="button" data-mdb-ripple-color="dark"><i
                        class="fab fa-instagram"></i></a>

                <!-- Google -->
                <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                    href="https://g.dev/sahilkamate03" role="button" data-mdb-ripple-color="dark"><i
                        class="fab fa-google"></i></a>

                <!-- Twitter -->
                <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1"
                    href="https://twitter.com/SahilKamate" role="button" data-mdb-ripple-color="dark"><i
                        class="fab fa-twitter"></i></a>

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            ©
            <script>document.write(/\d{4}/.exec(Date())[0])</script> sahilkamate03
        </div>
        <!-- Copyright -->
    </footer>

</body>

<script src="../static/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/998b34ac07.js" crossorigin="anonymous"></script>

</html>